<div class="container-fluid header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HOME</a>
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a [routerLink]="['characters']" aria-current="page" class="nav-link"
               routerLinkActive="active">Characters</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['films']" class="nav-link" routerLinkActive="active">Films</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['planets']" class="nav-link" routerLinkActive="active">Planets</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="title d-grid justify-content-center">
    <h1>STAR WARS</h1>
  </div>
</div>
