<div class="card planet-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <span>Name: </span>
      <span>{{planet.name}}</span>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted pb-3">
      <span>Population: </span>
      <span>{{planet.population}}</span>
    </h6>
    <hr>
    <p class="card-text">
      <span class="row-title">Climate: </span>
      <span>{{planet.climate}}</span>
    </p>
    <p class="card-text">
      <span class="row-title">Diameter: </span>
      <span>{{planet.diameter}}</span>
    </p>

    <p class="card-text">
      <span class="row-title">Terrain: </span>
      <span>{{planet.terrain}}</span>
    </p>
  </div>
</div>
