<div class="card character-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <span>Name: </span>
      <span>{{character.name}}</span>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted pb-3">
      <span>Birth year: </span>
      <span>{{character.birth_year}}</span>
    </h6>
    <hr>
    <p class="card-text">
      <span class="row-title">Gender: </span>
      <span>{{character.gender}}</span>
    </p>
    <p class="card-text">
      <span class="row-title">Eye color: </span>
      <span>{{character.eye_color}}</span>
    </p>

    <p class="card-text">
      <span class="row-title">Skin color: </span>
      <span>{{character.skin_color}}</span>
    </p>

    <p class="card-text">
      <span class="row-title">Hair color: </span>
      <span>{{character.hair_color}}</span>
    </p>
  </div>
</div>
